<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link rel="apple-touch-icon" sizes="57x57" href="../media/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../media/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../media/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../media/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../media/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../media/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../media/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../media/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../media/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../media/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../media/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../media/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../media/icon/favicon-16x16.png">
    <link rel="manifest" href="../media/icon/manifest.json">
    <link rel="stylesheet" href="../css/main.css" type="text/css" />
    <title>Delivery</title>
    <script src='../js/jquery-3.2.1.min.js'></script>
    <script>
        
        var sm = {
            onPage: 0,
            cart: null,
        };
        
        document.addEventListener('DOMContentLoaded', function(){
            function showStep(num){
                var dict = [
                    '#select-phone-type-container',
                    '#connect-phone-container',
                    '#select-food-container',
                    '#select-payment-option-container',
                    '#complete-payment-form-container',
                    '#submit-order-container'
                ];
                
                $('.step-container').animate({
                    opacity: 0
                }, 500, function(){
                    $(this).hide();
                });
                
                setTimeout(function(){
                    $(dict[num]).show().animate({
                        opacity: 1.0
                    });
                }, 550);
                
            }
            
            function getID(element){
                let rawID = element.attr('id');
                let id = rawID.substring(0, rawID.indexOf('-'));
                return id;
            }
            
            function nextPage(){
                sm.onPage++;
                showStep(sm.onPage);
            }
            
            function showConnectionStep(option){
                let connector = '#connect-'+option+'-button';
                console.log(connector);
                nextPage();
                
                setTimeout(function(){
                    $(connector).addClass('show-this-connector');
                    $(connector).click(function(){
                         nextPage();
                    });
                }, 600)
            }
            
            function showPaymentStep(option){
                let paymentSystem = '#'+option+'-option-form';
                let paymentLogin = '#'+option+'-login';
                console.log(paymentSystem);
                nextPage();
                
                setTimeout(function(){
                    $(paymentSystem).addClass('show-this-form');
                    $(paymentLogin).click(function(){
                         nextPage();
                    });
                }, 600)
            }
            
            showStep(sm.onPage);
            
            $('.phone-option-button').click(function(){
                showConnectionStep(getID($(this)));
            });
            
            $('.food-option-button').click(function(){
                nextPage();
                sm.cart = getID($(this));
                console.log(sm.cart);
                //showPaymentStep(getID($(this)));
            });
            
            $('.payment-option-button').click(function(){
                showPaymentStep(getID($(this)));
            });
        });
    </script>
</head>
<body>
    <div id='main-app-container'>
        <div class='step-container step-0-container' id='select-phone-type-container'>
            <div id='phone-type-header'>select device type</div>
            <div id='phone-option-container'>
                <div id='iphone-option-button' class='phone-option-button'>iPhone</div>
                <div id='android-option-button' class='phone-option-button'>Android</div>
            </div>
        </div>
        <div class='step-container step-1-container' id='connect-phone-container'>
            <div id='connect-phone-button-container'>
                <div id='connect-iphone-button' class='connect-phone-button'>connect</div>
                <div id='connect-android-button' class='connect-phone-button'>connect</div>
            </div>
        </div>
        <div class='step-container step-2-container' id='select-food-container'>
            <div id='food-option-container'>
                <div id='chips-option-button' class='food-option-button'>Chips</div>
                <div id='backwoods-option-button' class='food-option-button'>Backwoods</div>
            </div>
        </div>
        <div class='step-container step-3-container' id='select-payment-option-container'>
            <div id='payment-option-container'>
                <div id='bank-option-button' class='payment-option-button'>Bank card</div>
                <div id='hov-option-button' class='payment-option-button'>HOV cARd</div>
                <div id='google-option-button' class='payment-option-button'>Google Pay</div>
                <div id='apple-option-button' class='payment-option-button'>Apple Pay</div>
                <div id='paypal-option-button' class='payment-option-button'>PayPal</div>
            </div>
        </div>
        <div class='step-container step-4-container' id='complete-payment-form-container'>
            <div id='payment-form-class-container'>
                <div id='bank-option-form' class='payment-form-container'>
                    <input type='text' value='' placeholder='John A. Smith' id='bank-card-name'/>
                    <input type='text' value='' placeholder='0000 1111 2222 3333' id='bank-card-number'/>
                    <input type='text' placeholder='MM/YY' id='bank-card-expiration-date'/>
                    <input type='text' placeholder='CVV' id='bank-card-cvv'/>
                    <input type='button' value='continue' id='bank-login'/>
                </div>
                <div id='hov-option-form' class='payment-form-container'>
                    Tap your phone to your cARd
                </div>
                <div id='google-option-form' class='payment-form-container'>
                    <input type='button' value='tap to connect to google pay' id='google-login'/>
                </div>
                <div id='apple-option-form' class='payment-form-container'>
                    <input type='button' value='tap to connect to apple pay' id='apple-login'/>
                </div>
                <div id='paypal-option-form' class='payment-form-container'>
                    <input type='button' value='tap to connect to paypal' id='paypal-login'/>
                </div>
            </div>
        </div>
        <div class='step-container step-5-container' id='submit-order-container'>
            <input id='submit-order-button' type='button' value='submit order'/>
        </div>
    </div>
</body>
</html>